# Исходники
/src/

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Зависимости
/node_modules/

# Файлы ОС
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Временные файлы
*.tmp
*.temp